@font-face {
    font-family: 'raleway';
    src: url('./fonts/raleway-regular-webfont-webfont.eot');
    src: url('./fonts/raleway-regular-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/raleway-regular-webfont-webfont.woff2') format('woff2'),
         url('./fonts/raleway-regular-webfont-webfont.woff') format('woff'),
         url('./fonts/raleway-regular-webfont-webfont.ttf') format('truetype'),
         url('./fonts/raleway-regular-webfont-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
