// Backgrounds colors

$bg-menu: #01AEF0;
$btn-orange-bg: #F88108;
$strong-blue: #2F4A7B;
$green-regular-color: #8EC93D;
$bg-inputs: #48C2F1;
// Generics colors
$white: #fff;
$black-font: #1A1A1A;

// Font colors

$hover-link: #0378A5;


//Border colors
$btn-orange-border: #BF5607;
